.LoginForm {

  .page-left {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url("https://websiteni.com/site/wp-content/uploads/2016/04/bigstock-Online-payment-15985247-1024x680.jpg");
  }

  .page-right {
    padding: {
      left: 6rem !important;
      right: 6rem !important;
    }
  }

  .ant-tabs-nav-scroll {
    text-align: center;
  }

}