.App {
  min-height: 100vh;
}
.heart {
  color: #ff0000;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  //   background: rgba(255, 255, 255, 0.2);
  color: #ffffff;
  font-size: 1.5rem;
}
