@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');

.Sider{
  background: linear-gradient(#27bcc7 , #1890ff);
  .logo {
    height: 32px;
    //background: rgba(255, 255, 255, .2);
    margin: 16px;
    text-align: center;
    font-family: 'Abril Fatface';
  }
  .ant-menu{
    background-color: transparent;
  }
}
