.Header {
  background-color: #ffffff;
  padding: 0 24px 0 0;

  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);

  .right-side {
    .notification-icon {
      font-size: 24px !important;
    }
    .user-dropdown{
      font-size: 16px;
    }

    .user-dropdown-icon {
      font-size: 16px !important;
      vertical-align: middle;
    }

    .ant-dropdown-trigger {
      cursor: pointer;
    }
  }
}