
.float-right {
  float: right
}

.float-left {
  float: left
}

.w-100 {
  width: 100%;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.font-weight-300 {
  font-weight: 300;
}

.font-size-24 {
  font-size: 24px;
}


.font-size-36 {
  font-size: 36px;
}

.m-auto {
  margin: auto;
}

.mt-50 {
  margin-top: 50px;
}

.mt-25 {
  margin-top: 25px;
}

div[class^="ant-col-"] {
  padding: 0 6px;
}

.arrange-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.text-gradient {
  background: -webkit-linear-gradient(300deg, #27bcc7, #1890ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ant-table-thead > tr > th {
  background-color: #ffffff;
}